<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Gestor de Tareas</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_tareas' %}">Tareas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear_tarea' %}">Añadir Tarea</a>
                </li>
                {% endif %}
            </ul>
            
            {% if user.is_authenticated %}
            
                <span class="navbar-text me-3 text-white"> 
                    Bienvenido, **{{ user.username }}**!
                </span>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                    </li>
                </ul>
            
            {% else %}
            
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'registro_usuario' %}">Registrarse</a>
                    </li>
                </ul>
                
            {% endif %}
        </div>
    </div>
</nav>